body
{
	background-color: silver;
}

a
{
	color: Black;
	text-decoration: underline;
}

table
{
	width: 600;
}

td 
{
	vertical-align: top;
  border: 1px solid gray;
}

.emptyCell
{
	border: 0;
	width: 50;
}

.implementedColor
{
	background-color: #D3FFA8;
}

.missingColor
{
	background-color: #FF837C;
}

.wrongColor 
{
	background-color: #FFF38C;
}

.elementHeader
{
	background-color: #9EC3FF;
}