<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="{B7ABDA84-7163-4892-9AA1-814C6CDAAF54}" 
           Name="ANX.Framework" 
           Language="1033" 
           Version="$(var.PRODUCTVERSION)" 
           Manufacturer="ANX.Framework Developer Team" 
           UpgradeCode="{7A54B375-318B-40B7-ABF7-60BB50689361}">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id='1' Cabinet='ANX.Framework.cab' EmbedCab='yes' />

    <Feature Id="ProductFeature" Title="ANX.Framework assemblies" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="../doc/license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="../media/ANX.Framework.Logo_493x58.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="../media/Installer_493x312.bmp" />
    
    <UIRef Id="WixUI_InstallDir" />

  </Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="ANX.Framework" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id='ANX.Framework' Guid='{8A3AA04E-9325-441E-B16A-731676449C0B}'>
        <File Id='license' Name='license.txt' DiskId='1' Source='../doc/license.txt' />
        <File Id='anx.framework' Name='ANX.Framework.dll' DiskId='1' Source='../bin/Release/ANX.Framework.dll' />
        <File Id='anx.framework.contentpipeline' Name='ANX.Framework.ContentPipeline.dll' DiskId='1' Source='../bin/Release/ANX.Framework.ContentPipeline.dll' />
        <File Id='nlog' Name='NLog.dll' DiskId='1' Source='../bin/Release/NLog.dll' />
      </Component>
      <Component Id='SharpDX' Guid='{D6D751D7-A339-4DBB-81BC-D9AC084936C5}'>
        <File Id='sharpdx.d3dcompiler' Name='SharpDX.D3DCompiler.dll' DiskId='1' Source='../bin/Release/SharpDX.D3DCompiler.dll' />
        <File Id='sharpdx.direct3d10' Name='SharpDX.Direct3D10.dll' DiskId='1' Source='../bin/Release/SharpDX.Direct3D10.dll' />
        <File Id='sharpdx.direct3d11' Name='SharpDX.Direct3D11.dll' DiskId='1' Source='../bin/Release/SharpDX.Direct3D11.dll' />
        <File Id='sharpdx.directinput' Name='SharpDX.DirectInput.dll' DiskId='1' Source='../bin/Release/SharpDX.DirectInput.dll' />
        <File Id='sharpdx' Name='SharpDX.dll' DiskId='1' Source='../bin/Release/SharpDX.dll' />
        <File Id='sharpdx.dxgi' Name='SharpDX.DXGI.dll' DiskId='1' Source='../bin/Release/SharpDX.DXGI.dll' />
        <File Id='sharpdx.xapo' Name='SharpDX.XAPO.dll' DiskId='1' Source='../bin/Release/SharpDX.XAPO.dll' />
        <File Id='sharpdx.xaudio2' Name='SharpDX.XAudio2.dll' DiskId='1' Source='../bin/Release/SharpDX.XAudio2.dll' />
        <File Id='sharpdx.xinput' Name='SharpDX.XInput.dll' DiskId='1' Source='../bin/Release/SharpDX.XInput.dll' />
        <File Id='sharpdx_direct3d11_effects_x64' Name='sharpdx_direct3d11_effects_x64.dll' DiskId='1' Source='../bin/Release/sharpdx_direct3d11_effects_x64.dll' />
        <File Id='sharpdx_direct3d11_effects_x86' Name='sharpdx_direct3d11_effects_x86.dll' DiskId='1' Source='../bin/Release/sharpdx_direct3d11_effects_x86.dll' />
      </Component>
      <Component Id='OpenTK' Guid='{132664CF-8DD6-4B6A-A200-88D4BE5F2AE9}'>
        <File Id='opentk' Name='OpenTK.dll' DiskId='1' Source='../bin/Release/OpenTK.dll' />
      </Component>
      <Component Id='ANX.Framework.Windows.DX10' Guid='{34DD167E-084B-464F-9633-B0220E8C4683}'>
        <File Id='anx.framework.windows.dx10' Name='ANX.Framework.Windows.DX10.dll' DiskId='1' Source='../bin/Release/ANX.Framework.Windows.DX10.dll' />
      </Component>
      <Component Id='ANX.RenderSystem.Windows.DX11' Guid='{0E0CE2E8-9458-4333-9CF7-D60B126F7310}'>
        <File Id='anx.RenderSystem.windows.dx11' Name='ANX.RenderSystem.Windows.DX11.dll' DiskId='1' Source='../bin/Release/ANX.RenderSystem.Windows.DX11.dll' />
      </Component>
      <Component Id='ANX.Framework.Windows.GL3' Guid='{67D57889-559F-4762-95D1-B91014D8D55E}'>
        <File Id='anx.framework.windows.gl3' Name='ANX.Framework.Windows.GL3.dll' DiskId='1' Source='../bin/Release/ANX.Framework.Windows.GL3.dll' />
      </Component>
      <Component Id='ANX.InputSystem.Windows.XInput' Guid='{825A36A3-5071-46C5-B195-E0EB469EDA51}'>
        <File Id='anx.inputsystem.windows.xinput' Name='ANX.InputSystem.Windows.XInput.dll' DiskId='1' Source='../bin/Release/ANX.InputSystem.Windows.XInput.dll' />
      </Component>
      <Component Id='ANX.SoundSystem.Windows.XAudio' Guid='{4C4EDC2B-BF6B-437C-874C-1573373DB55E}'>
        <File Id='anx.soundsystem.windows.xaudio' Name='ANX.SoundSystem.Windows.XAudio.dll' DiskId='1' Source='../bin/Release/ANX.SoundSystem.Windows.XAudio.dll' />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>